<div class="mainHome">
    <div class="home__main">
        <div id="primeraParteS1">
            <a class="enlace__home__main"><i class="fa-brands fa-bitcoin"></i>Crea tu Portfolio ya -></a>
            <h1>Empieza a crear tu propio Portfolio de criptomonedas</h1>
            <h5>Nuestra web es el lugar más sencillo para comprar y vender criptomonedas. Regístrate y comienza hoy mismo.</h5>
            <div id="inputRegister">
                <input type="text" placeholder="Dirección de correo electrónico">
                <button class="btn btn-primary">Registrate</button>
            </div>
            
        </div>
        <div class="imagenHome">
            <img src="https://images.ctfassets.net/c5bd0wqjc7v0/1DrLQBxqDE4XmGXcmaGy7u/8acbd0322803e3190154169b028e9d20/freeMoney-1.5.webp" alt="">
        </div>
    </div>
    <div class="imagenMid">
        <h1>Crea hoy tu Portfolio de criptomonedas</h1>
        <p>Aquí encontrarás una gran variedad de funciones. ¡Somos el mejor lugar para comenzar a operar!</p>
        <img src="https://assets.coinbase.com/assets/6ffc81153d3b1970f5a0.webp" alt="">
    </div>
    <div class="div_eligenos">
        <h1>La plataforma de criptomonedas más fiable</h1>
        <p>¿Por qué escogernos?</p>
        <div class="fotos">
            <img src="../../assets/img/almacenamiento.png" alt="">
            <img src="../../assets/img/proteccion.png" alt="">
            <img src="../../assets/img/practicas.png" alt="">
        </div>
        <div class="enlaces">
            <a href="">Entérate de cómo Coinbase mantiene tus fondos seguros y protegidos</a>
            <a href="">Descubre todo sobre la póliza de seguros ...</a>
            <a href="">Te contamos cómo implementamos las mejores ...</a>
        </div>
    </div>
</div>